<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.GradeDao">
	<resultMap id="gradeMap" type="grade">
		<id column="id" property="id"></id>
		<result column="name" property="gname"></result>
		<result column="flag" property="flag"></result>
		<result column="week" property="week"></result>
		<result column="createdate" property="createdate"></result>
		<result column="location" property="location"></result>
		<result column="cid" property="cid"></result>
	</resultMap>


	<!--查询所有班级-->
	<select id="gradeAll" resultMap="gradeMap">
		 select * FROM t_grade
	</select>

</mapper>