<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.ProcesDao">
	<!--展示我的记录-->
	<select id="selectAllInfo" parameterType="list" resultType="process">
		select * from t_check  where startno=#{startno}
	</select>
	<!--计数-->
	<select id="count" resultType="int">
		select count(*) from t_check
	</select>
	<!--取消-->
	<delete id="Undo" parameterType="Integer" >
		DELETE from t_check where id=#{id}
	</delete>
	<!--添加请假信息-->
	<insert id="addInfo" parameterType="process">
		 INSERT into t_check VALUES(null,#{info},#{type},#{startname},#{startno},
		 #{startdate},#{enddate},#{days},#{pid},#{flag},#{ManageId})
	</insert>
	<select id="selectByPid" parameterType="list" resultType="process">
		select * from t_check where pid=#{pid}
	</select>
	<select id="selectByid" parameterType="list" resultType="process">
		select * from t_check where id=#{id}
	</select>

	<update id="processupdate" parameterType="java.util.Map">
        UPDATE t_check set flag=#{flag} where id=#{id}
    </update>

	<select id="processnolist" parameterType="Integer" resultType="process">
        select * from t_check where ManageId=#{ManageId} and flag=1
    </select>



</mapper>