<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.UserDao">

	<!--查找用户-->
	<select id="findByName" parameterType="string" resultType="user">
		select * from t_user where no=#{no}
	</select>

	<!--查找用户角色-->
	<select id="findRolesByName" parameterType="string" resultType="string">
		select r.info from t_user u
		inner join t_userrole ur
		on ur.uid=u.id
		INNER JOIN t_role r
		on r.id=ur.rid
		where u.no=#{no}

	</select>

	<!--查找用户权限-->
	<select id="findPermsByName" parameterType="string" resultType="string">
		select DISTINCT a.aurl from t_user u
		INNER JOIN t_userrole ur
		on ur.uid=u.id
		INNER JOIN t_roleauthority ra
		on ra.rid=ur.rid
		INNER JOIN t_authority a
		on a.id=ra.aid
		where u.no=#{no}
	</select>

</mapper>