<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.UserDao">

	<!--映射-->
	<resultMap id="userMap" type="user">
		<id column="id" property="id"></id>
		<result column="no" property="no"></result>
		<result column="password" property="password"></result>
		<result column="name" property="name"></result>
		<result column="flag" property="flag"></result>
		<result column="headphoto" property="headphoto"></result>
		<collection property="rids" ofType="role">
			<id column="rid" property="id"></id>
			<result column="infos" property="info"></result>
		</collection>
	</resultMap>

	<!--查找用户-->
	<select id="findByName" parameterType="string" resultType="user">
		select * from t_user where no=#{no}
	</select>

	<!--查找用户角色-->
	<select id="findRolesByName" parameterType="string" resultType="string">
		select r.info from t_user u
		inner join t_userrole ur
		on ur.uid=u.id
		INNER JOIN t_role r
		on r.id=ur.rid
		where u.no=#{no}

	</select>

	<!--查找用户权限-->
	<select id="findPermsByName" parameterType="string" resultType="string">
		select DISTINCT a.aurl from t_user u
		INNER JOIN t_userrole ur
		on ur.uid=u.id
		INNER JOIN t_roleauthority ra
		on ra.rid=ur.rid
		INNER JOIN t_authority a
		on a.id=ra.aid
		where u.no=#{no}
	</select>

	<!--根据工号、状态，查找全部用户角色列表-->
	<select id="findAllByNoAndFg" parameterType="map" resultMap="userMap">
		select u.id,u.no,u.name,group_concat(r.info)infos,u.flag from t_user u
		inner join t_userrole ur
		on ur.uid = u.id
		inner join t_role r
		on ur.rid = r.id
		where 1=1
		<if test="no !=null and no !=''">
			and u.no = #{no}
		</if>
		<if test="flag !=null and flag !=''">
			and u.flag = #{flag}
		</if>
		GROUP BY u.id
		ORDER BY r.info desc
	</select>

	<!--删除用户角色-->
	<delete id="deleteById" parameterType="Integer">
		delete u,ur from t_user u
		left join t_userrole ur
		on u.id = ur.uid
		where u.id=#{id}
	</delete>

	<select id="selectM"  resultMap="userMap">
		SELECT id,name from t_user where flag=1
	</select>

	<select id="selectUserName" parameterType="String" resultType="String">
		select name from t_user where no=#{no}
	</select>

	<select id="findUserId" parameterType="String" resultType="Integer">
		select id from t_user where no=#{startno}
	</select>

</mapper>